*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    width: 100%;
    height: 100vh;
    background-image:url("../css/image/hero-bg.png");
    background-size: cover;
    background-position: center;
}


.nav{
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    width: 139px;
}


.menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}
.menu a {
  text-decoration: none;
  font-size: 16px;
  color: #001931;
  font-weight: bold;
}


.nav-button a{
    text-decoration: none;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.content{
    text-align: center;
    color: white;
    padding-top: 180px;
}

.small-text{
    display: inline-block;
    background: white;
    color: green;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.content h1{
    font-size: 65px;
    margin-top: 20px;
}

.green-text{
    color: #30B868;
}

.content p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 24px;
}

.buttons{
    margin-top: 30px;
}

.main-btn{
    display: inline-block;

    background: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
}

.main-btn img{
width: 15px;
margin-left: 10px;
vertical-align: middle;
}

.second-btn{
    display: inline-block;
    margin-left: 15px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
}
.structure-section{
    width: 100%;
    text-align: center;
    font-weight: bold;
    
}

.structure-section h2{
    font-size: 50px;
    color: #001913;
    padding-top: 50px;
    margin-bottom: 16px;
}

.section-text{
    font-size: 16px;
    color: #627382;
    margin-bottom: 30px;
}
.cards{
    padding-top: 40px;
    padding-right: 120px;
    padding-left: 120px;
}
.card-container{
    max-width: 1630px;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: auto;
    flex-wrap: wrap;
}

.card{
    width: 322px;
    height: 300px;
    background:#FFFFFF;   ;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 40px 25px;
}

.card img{
    width: 60px;
    background-color: #F95555;
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 50%;   
    width: 32; 
}

.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.solution{
    
    padding-top: 120px;
    
}

.solution-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-right: 275px;
    padding-left: 275px;
}

.solution-image img{
    width: 600px;
    margin-bottom: 120px;
}

.solution-content{
    width: 600px;
}

.solution-content h5{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
}

.solution-content h2{
    font-size: 50px;
    color: #001931;
    line-height: 60px;
    margin-bottom: 20px;
}

.solution-content p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.feature{
    display: flex;
    
}

.feature img{
    width: 18px;
    vertical-align: middle;
    margin-bottom: 20px;

}

.feature span{
    font-size: 16px;
    margin-bottom: 20px;
    color: #001931;
}
.challange-section{

    padding-top: 120px;
}

.challange-container{
    width: 90%;
    max-width: 1360px;
    margin: auto;
    background: #F7F6F2;
    text-align: center;
    border-radius: 12px;
}

.challange-container h2{
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 40px;
    color: #001931;
    margin-bottom: 20px;
}

.challange-container p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.challange-btn {
    display: inline-block;
    background: #30B868;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 16px;
}

.challange-btn img{
    width: 20px;
    margin-left: 8px;
    vertical-align: middle;
}

.challange-container span{
    display: block;
    font-size: 16px;
    color:#627382;
padding-bottom:80px ;
}
.footer{
        width: 100%;
    margin-top: 120px;
    background: #001931;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-container{
    width: 100%;
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 140px;
}
.footer-social p{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;

}

.social-icons a{
    text-decoration: none;
    margin-right: 10px;
}

.social-icons img{
    width: 28px;
}

.footer-bottom{
    max-width: 1360px;
 margin: 0 auto;
}

.footer-bottom p{
    text-align: center;
    color: #fafafa;
    font-size: 16px;
    margin-top: 80px;
    border-top: 1px solid #627382;
    padding-top: 10px;
}